$appBack: #30475e;

.app {
  background-color: $appBack;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.logs {
  width: 400px;
  border: 1px solid lightgreen;
  text-align: center;
}
